.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin: auto;
}

.pokemonCard {
  border-radius: 16px;
  padding: 16px;
  border: 8px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all, 0.2s ease-in-out;
  &:hover {
    scale: 1.2;
    transform: rotate(6deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.imageContainer {
  display: flex;
  height: 224px;
  width: 324px;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(360, 360, 360, 0.2);
}

.image {
  height: 240px;
  width: auto;
}

.statList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 8px;
  gap: 6px;
  > div {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}

.loading {
  height: 280px;
  width: auto;
  margin: auto;
}

.arrow {
  background-color: rgba(360, 360, 360, 0.95);
  border-radius: 4px;
  padding: 8px;
  border: 2px solid rgb(100, 100, 100);
  cursor: pointer;
  transition: all, 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
}
