.pokeTable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content {
  display: flex;
  border: 2px solid #d3d3d3;
  flex-direction: column;
  overflow: hidden;
  padding: 24px;
  border-radius: 4px;
  background-color: rgba($color: #fff, $alpha: 0.95);
}

.tableControls {
  display: flex;
  gap: 16px;
}

.tableContainer {
  overflow-y: scroll;
  display: flex;
}

.typesCell {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sprites {
  height: 96px;
  width: 96px;
}

.tableRow {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.05;
  }
}

.typeChip {
  padding: 4px;
  width: 64px;
  border-radius: 4px;
  color: white;
}
