.pokeTable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tableControls {
  display: flex;
  gap: 16px;
}

.tableContainer {
  overflow-y: scroll;
  display: flex;
}

.typesCell {
  display: flex;
  flex-direction: column;
}

.sprites {
  height: 96px;
  width: 96px;
}

.tableRow {
  cursor: pointer;
}
